.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signUp {
  height: 720px;
  width: 810px;
  background-color: var(--bg-login);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  box-shadow: 0 1px 5px var(--shadow);
  border-radius: 6px;
  border: 0;
}


#signUp > legend{
  position: relative;
  top: 0;
  left: 195px;
  right: 0;
  bottom: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #84858a;
  color: #fff;
  font-size: 32px;
  padding: 5px 10px;
  border-radius: 6px;
}

#signUp a {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: var(--text-color1);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: text-decoration 0.5ms;
}

#signUp a:hover {
  text-decoration: underline;
}

.link::after{
  margin-top: 10px;
}

.formGroup {
  width: 48%;
  max-width: 1200px;
  font: 400 18px 'Roboto', sans-serif;
  line-height: 1.8; /* Deixando somente o valor, e multiplicado com valor da font-size. O calculo ficaria 18 x 1.8*/
}

.formGroup label {
  font-size: 14px;
  display: block;
  font-weight: 400;
}

.formGroup input, 
.formGroup select {
  width: 100%;
  height: 28px;
  font-size: 14px;
  border: none;
  box-shadow: 0 0 0 1px #84858a;
  padding: 10px;
  border-radius: 3px;
}

#uf, #city {
  padding: 6px 10px;
  font-size: 12px;
}

#signUp button {
  margin: 15px;
}

.fullName {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.fullName label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}